node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.production
.env.development
.env.test
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

# Local Netlify folder
.netlify

/generated/prisma
